<header id=header>
  <h3><a href="#banner">{{header-title}}</a></h3>
  <nav id="nav">
    <ul id="ul-desktop">
      <li>
        <a href="#about">
          {{about-title}}
        </a>
      </li>
      <li>
        <a href="#project">
          {{project-title}}
        </a>
      </li>
      <li>
        <a href="#member">
          {{member-title}}
        </a>
      </li>
    </ul>
    <ul id="ul-tablet">
      <li>
        <span>
          {{menu-title}}
          <i class="fa fa-bars"></i>
        </span>
      </li>
    </ul>
  </nav>
</header>
